/**/*
!/**/
/venv/
!*.ipynb
!*.gitignore
!*.md
!*.bat
!*.py
!*.yml
!*.ui
!*.yaml
!*.xlsx
!*.csv
!scripts/**
!mst/**

!requirements.txt
!version.txt
preprocessed_mapped_patient_info_nosurv.csv
preprocessed_mapped_patient_info.csv
preprocessed_mapped_patient_info.csv
preprocessed_mapped_patient_info_nosurv.csv
preprocessed_mapped_patient_info.csv
preprocessed_mapped_patient_info_nosurv.csv
/docs/build
!/docs/Makefile

/build/

/runs 
/results
/wandb
!/media/**
/.venv/
results*
__pycache__
auto_preprocessing
map_testing.py
plots
histograms
*.nii.gz
plots_duke
inspect_columns.py
segmentations/
segmentations_fixed/
bi4-ann.csv
mapped_patient_info.csv
penn_mapping.csv
masks
evaluation_results*
segmentation_metrics.csv
my-mapping.csv
mammamia_comparison_results.csv
mammamia_comparison_results.csv
penn-preprocessed_mapping.csv